<div class="jumbotron center">
	<div class="container">
		<h1>Ruby on Rails training</h1>
		<% if user_signed_in? %>
			#do something
		<% else %>	
		<p>Restarting the process of learning Ruby on Rails and other <%= link_to "languages", "#"%>.</p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  <% end %>
	</div>
</div>